@model BlokingRateListViewModel
<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item active">Blocking Rate List</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>
                        <strong>Blocking Rate List</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="select">From Date</label>
                            <label class="col-md-3 form-control-label" for="select">@Model.StartDate</label>
                            <label class="col-md-3 form-control-label" for="select">To Date</label>
                            <label class="col-md-3 form-control-label" for="select">@Model.EndDate</label>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Factory</th>
                                    <th>Total Rejected PO</th>
                                    <th>Total PO</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BlockingRateList)
                                {
                                    <tr>
                                        <td>@item.FactoryName</td>
                                        <td>@item.RejectPO</td>
                                        <td>@item.TotalPO</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        @*<ul class="pagination">
                                @for (int i = 1; i <= Model.Page.PageCount; i++)
                                {
                                    if (Model.Page.CurrentPage == i)
                                    {
                                        <li class="page-item active">
                                            <a asp-controller="Inspection" asp-action="Index" class="page-link" asp-route-id="@i">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a asp-controller="Inspection" asp-action="Index" class="page-link" asp-route-id="@i">@i</a>
                                        </li>
                                    }
                                }
                            </ul>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- /.conainer-fluid -->
    </div>
</div>
