@model EmailRuleListViewModel
@using Artoo.Common;
<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item active">Email Rules</li>
</ol>


<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>
                        <strong>Email Rules</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Passion Brand</th>
                                    <th>Result</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.EmailRules)
                                {
                                    <tr>
                                        <td>
                                            <ul>
                                                @foreach (var email in item.EmailList)
                                                {
                                                    <li>
                                                        @email.EmailAddress
                                                    </li>
                                                }
                                            </ul>
                                        </td>
                                        <td>@item.PassionBrand.Name</td>
                                        <td>@((InspectionResultEnum)item.Result)</td>
                                        <td>
                                            <a asp-controller="EmailRule" asp-action="Details" class="btn btn-success" asp-route-id="@item.EmailRuleId">Detail</a>
                                            <a asp-action="Delete" asp-route-id="@item.EmailRuleId" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        @*<ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#">Prev</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>*@
                    </div>
                    <div class="card-footer">
                        <a asp-controller="EmailRule" asp-action="Create" class="btn btn-sm btn-primary float-right"><i class="fa fa-dot-circle-o"></i> Add</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.conainer-fluid -->
    </div>
</div>